{%extends 'base.html'%}
{% block title %}
{% endblock %}
{%block body%}
<div class="row">
    <div class="col-md-9 mt-2">
        <h5 class="bg-danger text-white p-2">Customer Details</h5>
        <p><b>Name:</b>{{user.username}}</p>
        <p><b>Phone No.:</b> 123456</p>
        <p><b>Email:</b> {{user.email}}</p>

        <h5 class="bg-danger text-white p-2">Cart Details</h5>
        {% for x in cart_items%}
        <div class="row">
            <div class="col-md-4 mt-2">
                <img src="{{x.pet.image.url}}" width="100%" style="height: 200px;">
            </div>
            <div class="col-md-8">
                <p><b>Product Name:</b>&nbsp;&nbsp;{{x.pet.name}}</p>
                <p><b>Price:</b>&nbsp;&nbsp;{{x.pet.price}}</p>
                <p><b>Quantity:</b>&nbsp;&nbsp;{{x.quantity}}</p>
                <p><b>Product Details:</b>&nbsp;&nbsp;{{x.pet.desc}}</p>
                <a href="/remove/{{x.pet.sid}}"><button type="submit" class="btn btn-danger">Remove</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-3 mt-2">
        <h5 class="bg-danger text-white p-2">Total Amount Section</h5>
        <p><b>Total Items({{items}}):</b> Rs.&nbsp;&nbsp;{{total}}</p> 
            <hr>
        <p><b>Total Amount:</b>  Rs.&nbsp;&nbsp;{{total}}</p><br>
        <a href="{% url 'viewOrder' %}"><button type="submit" class="btn btn-danger">Buy Now</button></a>
    </div>
</div>
{% endblock %}